html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* If .save-note is meant to be hidden initially and then shown via JavaScript, no changes needed */
  .save-note {
    display: none;
  }
  
  /* Added vendor prefixes for older browsers and adjusted font-size for consistency */
  .icons i {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.5rem; /* 24px */
    cursor: pointer;
    -webkit-font-smoothing: antialiased; /* Improve text rendering in Webkit (Safari/Chrome) */
    -moz-osx-font-smoothing: grayscale; /* Improve text rendering in Firefox */
  }
  
  /* Ensure text colors are consistent and accessible */
  .note-textarea, .note-title {
    color: #000000; /* Black text for better readability */
    width: 100%;
    outline: none;
    border: none;
  }
  
  /* Use standard properties for resizing and padding */
  .note-textarea {
    resize: none; /* Disable resizing of the textarea */
    height: calc(100% - 63px); /* Full height minus the header */
    padding-top: 15px;
  }
  
  /* Adjust the size and spacing of the note title */
  .note-title {
    height: 50px;
    margin-top: 13px;
    font-size: 3rem; /* 48px */
  }
  
  /* Set a lighter color for read-only fields for visual distinction */
  .note-title:read-only, .note-textarea:read-only {
    color: #757575; /* Light grey color */
  }
  
  /* Adjust the card height to fit within the viewport */
  .list-container .card {
    height: calc(100vh - 70px); /* Full viewport height minus the navbar */
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Remove padding from the list container */
  .list-container {
    padding-left: 0;
  }
  
  /* Remove borders and border-radius for a cleaner look */
  .list-container .list-group,
  .list-container .list-group-item:first-child,
  .list-container .card {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  
  /* Adjust the font size and cursor for list items */
  .list-container i {
    font-size: 1.1rem; /* 17.6px */
    cursor: pointer;
  }
  
  /* Style list items with no side borders and consistent padding */
  .list-container .list-group-item {
    border-left: none;
    border-right: none;
    padding: 20px;
    cursor: pointer;
  }
  